#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1d2124;
  height: 7rem;
}

#navbar .logo-container {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#navbar .logo-container img {
  background-color: #1a1d20;
  padding: 2rem;
}

#navbar .logo-container h3 {
  font-size: 2.2rem;
}

#navbar .logo-container .bg-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 7rem;
  width: 8.2rem;
}

#navbar .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navbar .navbar ul li a {
  color: white;
  padding-left: 2rem;
  text-transform: uppercase;
}

#navbar .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1a1d20;
  height: 7rem;
  width: 8.2rem;
}

#navbar .icon i {
  color: white;
}

.bg-img-container .background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../assets/img/head.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50rem;
}

.bg-img-container .background h1 {
  color: #fff;
  font-size: 3rem;
  padding-bottom: 3rem;
}

.bg-img-container .background .buttonlar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5rem;
  font-size: 1.5rem;
}

.bg-img-container .background .buttonlar .sbs {
  background-color: #89ca62;
  padding: 2rem 4rem;
  color: #fff;
  border-radius: 1rem;
}

.bg-img-container .background .buttonlar .bart {
  background-color: #14b9d5;
  padding: 2rem 4rem;
  color: #fff;
  border-radius: 1rem;
}

#mst-pop-post {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#mst-pop-post .head h3 {
  color: #18b4cf;
  text-transform: uppercase;
  margin: 3rem;
  font-size: 3rem;
}

#mst-pop-post .post-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  gap: 5rem;
  margin-bottom: 5rem;
}

#mst-pop-post .post-container .post-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

#mst-pop-post .post-container .post {
  background-color: #fff;
  padding-bottom: 2rem;
  -webkit-box-shadow: 0.15rem 0.15rem 0.5rem #4e4e4e;
          box-shadow: 0.15rem 0.15rem 0.5rem #4e4e4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mst-pop-post .post-container .post .para {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mst-pop-post .post-container .post p {
  margin-top: 2rem;
  background-color: #fff;
  font-size: 1.75rem;
}

#popular-clients .popular-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50rem;
  background-image: url(../assets/img/pop-clients.jpg);
}

#popular-clients .popular-clients .clients h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 5rem;
}

#popular-clients .popular-clients .clients .client-names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10%;
}

#top-rated {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#top-rated .top-rated h2 {
  color: #14b9d5;
  text-align: center;
  font-size: 3rem;
  padding-bottom: 3rem;
}

#top-rated .post-rated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#hot-news {
  padding: 5rem;
}

#hot-news h2 {
  color: #14b9d5;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  padding-bottom: 3rem;
}

#hot-news .articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}

#hot-news .articles .article-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 5rem;
}

#hot-news .articles .article-1 .art-1 {
  width: 80rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F9F7F7;
}

#hot-news .articles .article-1 .art-1 .about-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right;
}

#hot-news .articles .article-1 .art-1 .about-1 h2 {
  text-align: right;
  color: black;
  font-size: 1rem;
}

#hot-news .articles .article-1 .art-2 {
  background-color: #F9F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#hot-news .articles .article-1 .art-2 .about-2 {
  padding-top: 3rem;
}

#hot-news .articles .article-1 .art-2 .about-2 h2 {
  color: black;
  font-size: 1rem;
}

#hot-news .articles .article-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8rem;
}

#hot-news .articles .article-2 .art-3 {
  width: 52rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F9F7F7;
}

#hot-news .articles .article-2 .art-3 .about-3 {
  padding: 2rem;
}

#hot-news .articles .article-2 .art-3 .about-3 h2 {
  text-align: right;
  font-size: 1rem;
  color: black;
}

#hot-news .articles .article-2 .art-3 .about-3 p {
  text-align: right;
}

#footer {
  background-color: #1a1d20;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#footer .footer h2 {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */